<div class="contenedor">
  <div class="titulo">
    <h1>Juego de Verbos</h1>
  </div>

<h3>Verbo en Español: {{this.verbo.traduccion}}</h3>
<label>
  <span>Infinitivo</span><br>
  <input type="text" [(ngModel)]="infinitivo" class="{{claseInfinitivo}}" [disabled]="stateInput" required/>
  <input type="button" value="sonido" id="soundPasado" (click)="reproducir(1)" [disabled]="stateDisabled">
</label><br>
<label>
  <span>Pasado</span><br>
  <input type="text" [(ngModel)]="pasado" class="{{clasePasado}}" [disabled]="stateInput" required/>
  <input type="button" value="sonido" id="soundPasado" (click)="reproducir(2)" [disabled]="stateDisabled">
</label><br>
<label>
  <span>Participio</span><br>
  <input type="text" [(ngModel)]="participio" class="{{claseParticipio}}" require [disabled]="stateInput"/>
  <input type="button" value="sonido" id="soundParticipio" (click)="reproducir(3)" [disabled]="stateDisabled">
</label><br>

<label>
  <span>
    Aciertos a la 1º: {{aciertos1}}
  </span><br>
  <span>
    Aciertos con fallos: {{aciertosFallo}}
  </span><br>
  <span>
    aciertos con pistas: {{aciertosPista}}
  </span><br>
  <span>
    verbos saltados: {{verbosSaltados}}
  </span>
</label>

<label>
  <input type="button" (click)="comprobar()" value="{{botonAction}}">
  <input type="button" value="pista" (click)="darPista()" [disabled]="estadoBoton">
  <input type="button" value="saltar verbo" (click)="saltarVerbo()"[disabled]="estadoBoton">
</label>
</div>

