.classJugando{
  background-color:white;
}
.classCorrecto{
  background-color:green;
}
.classError{
  background-color: red;
}

header{
  background-color: burlywood;
  width: 100%;
  text-align: center;
  color:white;
}
.tituloJuego {
  display:flex;
  justify-content: center;
  align-items:center;
  padding-bottom:1rem;

}

#contenedor {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.25fr 3fr 0.25fr;
  grid-template-rows: 0.25fr 3fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "cabecera cabecera cabecera"
    "tablero tablero tablero";
}

header {
  grid-area: cabecera;
  display:flex;
  justify-content: center;
  align-items: center;
}

#tablero {
  margin-top:2rem;
  grid-area: tablero;
  display:flex;
  align-items:center;
  flex-direction:column;
 }


 //*************************botonera********************************************

 //activos
 .SonidoActive{
  margin-left:1rem;
  background: linear-gradient(to bottom, rgba(102, 152, 203, 1) 0%, rgba(92, 138, 184, 1) 100%);
  color:white;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 12px;
 }



//disabled
.btnFuncActive{
  color: white;
  margin:6px;
  padding: 8px 28px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, rgba(130, 200, 160, 1) 0%, rgba(124, 185, 149, 1) 100%);
}

.btnSaltarcActive{
  color: white;
  margin:6px;
  padding: 8px 28px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(rgba(250, 90, 90, 1) 0%, rgba(232, 81, 81, 1) 100%);
}

.btnPistaActive{
  color: white;
  margin:6px;
  padding: 8px 28px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(rgba(240, 210, 100, 1) 0%, rgba(229, 201, 96, 1) 100%);
}

.btnDisabled{
  color: white;
  margin:6px;
  padding: 8px 28px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom, rgb(107, 106, 106) 0%, rgb(156, 156, 156) 100%);
}

 .SonidoDisabled{
  margin-left:1rem;
  background: linear-gradient(to bottom, rgb(107, 106, 106) 0%, rgb(156, 156, 156) 100%);
  color:white;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 12px;
 }
//**********************************************************************************************+


#botonera{
  height: 4rem;
  display:flex;
  justify-content: center;
  align-items: center;

}
