.menu-principal {
  background-color: #aaaa;
}

.menu-principal ul {
  display:flex;
  width: 100%;
  justify-content:space-around;
  align-content: space-between;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-principal li {
  display: inline;
}

.menu-principal a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-principal a:hover {
  background-color: #aaaa;
}
