.menu-principal {
  background-color: #333;
  padding: 10px;
}

.menu-principal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-principal li {
  display: inline;
}

.menu-principal a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu-principal a:hover {
  background-color: #555;
}
